# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.env
.pycache/
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
hoo-hacks.json
assets/images/
assets/images/image_1.jpg
assets/images/image_2.jpg
assets/images/image_3.jpg
assets/images/image_4.jpg
assets/metadata/google_images_data.json
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
